@use 'variables' as *;

.notes-list {
    background: $background-secondary2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 90vh;

    .notes-list__header {
        background: $background-secondary;
        padding: $padding-topbottom $padding-leftright;
    }

    .notes-list__content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        padding: $padding-topbottom $padding-leftright;
        border-radius: $border-radius-px;
        overflow-y: scroll;
    }
}