@use 'variables' as *;

.note-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // width: 250px;
    height: 70px;
    background: $background-secondary;
    border-radius: $border-radius-px;
    padding: $padding-topbottom $padding-leftright;

    h3 {
        margin: 0;
    }

    .note-card__date {
        margin: 0;
    }

    .note-card__interactive {
        .note-card__interactive__complete {
            font-size: 50px;
            font-weight: 100;

            margin: 0;
            cursor: pointer;
            user-select: none;
        }
    }
}