$color-primary: #E0E1DD;
$color-secondary: #1B263B;

$background-primary: #0D1B2A;
$background-secondary: #1B263B;
$background-secondary2: #415A77;

$padding-topbottom: 5px;
$padding-leftright: 10px;

$color-new-note: #ffffff;
$color-on-work: #ffe057;
$color-complete: #53ff5b;

$color-error: #f14a4a;

$font-primary: 'Roboto';
$border-radius-px: 15px;