@use 'variables' as *;

.unauth-header {
    padding: $padding-topbottom $padding-leftright;
    background: $background-secondary;
    border-radius: $border-radius-px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .unauth-header__logo {
        cursor: pointer;
        width: 150px;

        img {
            width: inherit;
        }
    }
}