<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-input id="login" type="text" label="Логин" formControlName="login"
        [control]="registerForm.controls.login"></app-input>
    <app-input id="password1" type="password" label="Пароль" formControlName="password"
        [control]="registerForm.controls.password"></app-input>
    <app-input id="password2" type="password" label="Пароль еще раз" formControlName="passwordRepeat"
        [control]="registerForm.controls.passwordRepeat"></app-input>
    <app-primary-button buttonType="submit">Зарегистрироваться</app-primary-button>
</form>