<app-unauth-header />
<div class="landing">
    <div class="landing__welcome">
        <div class="landing__welcome__left">
            <h1>Меньше инструментов. Больше смысла.</h1>
            <p>Не нужно изучать сервис, чтобы написать заметку.Не нужно настраивать рабочее пространство.Не нужно
                создавать систему для управления системой.ShNotes — место, куда ты приходишь, когда тебе нужно что-то
                записать.</p>

            <app-primary-button routerLink="/register">Зарегистрироваться</app-primary-button>
            <app-primary-button type="alternative">Войти</app-primary-button>
        </div>
        <div class="landing__welcome__right">
            <img src="/shared/assets/images/logo2.jpg" />
        </div>
    </div>
</div>