@use 'variables' as *;

.header {
    padding: $padding-topbottom $padding-leftright;
    background: $background-secondary;
    border-radius: $border-radius-px;
    height: 50px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header__interactive {
        display: flex;
        
    }

    .header__logo {
        width: 150px;

        img {
            width: inherit;
        }
    }
}